<a href="https://bsky.app/profile/{{username}}" class="bluesky-flutter {{variant}}">
<svg viewBox="0 0 566 500" class="logo">
    <use xlink:href="#wing" class="left" />
    <use xlink:href="#wing" class="right" />
</svg>@{{username}}
</a>
